/* Style the header with a grey background and some padding */
body {
  background-image: url("https://preview.redd.it/g66r5oi2tg641.jpg?width=960&crop=smart&auto=webp&s=e6b820b1dd3ca64609d46416186739b4d086ed33");
}

.header {
  overflow: hidden;
  background-color: #095ce3;
  padding: 0px 0px;
}

/* Style the header links */
.header a {
  float: left;
  color: #00e878;
  color: #004725;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 23px;
  line-height: 25px;
  border-radius: 10px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  color: #00e878;
  float: left;
  font-weight: bold;
}

/* Change the background color on mouse-over */

.article{
  color: white;
  padding: 0px 60px;
  padding-left: 250px;
  overflow-wrap: break-word;
} 

.title1 {
    color: white;
    padding-left: 250px;
    float: center;
    text-decoration: underline;
    text-align: Center;
  }
.title2 {
    color: white;
    padding-left: 250px;
    float: center;
    text-align: Center;
  }



.header {
  color: black;
  font-family: Helvetica;
}

.main {
  font-family: Helvetica;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #004725;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 600px) {
  .header a {
    float: left;
    display: block;
    padding-left: 200px;
    text-align: Center;
  }
  .header-right {
    float: right;
  }

  .logo {
  font-size: 25px;
  color: #00e878;
  float: center;
  font-weight: bold;
  text-decoration: underline;
}

  .article{
  padding: 0px 10px;
  padding-left: 0px;
  overflow-wrap: break-word;
} 

.title1 {
    float: none;
    text-align: Center;
    font-size: 23px;
    padding-left: 0px;
  }
.title2 {

    float: none;
    padding-left: 0px;
    font-size: 20px;
    text-align: Center;
  }
}


/*sidebar*/

/* The side navigation menu */
.sidebar {
  margin: 0;
  color: #00e878;
  padding: 0;
  width: 200px;
  background-color: #095ce3;
  position: absolute;
  height: 1000px;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #00e878;
  padding: 16px;
  font-weight: bold;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #004725;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #0220b5;
  color: #00e878;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 200px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}

.article{
  padding: 0px 10px;
  padding-left: 0px;
  overflow-wrap: break-word;
} 

.title1 {
    float: none;
    text-align: Center;
    font-size: 23px;
    padding-left: 0px;
  }
.title2 {

    float: none;
    padding-left: 0px;
    font-size: 20px;
    text-align: Center;
  }
}



@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  .header a {
    float: left;
    display: block;
    padding-left: 120px;
    text-align: Center;
  }
}
